<% include ../master/header %>


<div class="container">
 
    <div class="center">
      <form action="/update" method="post" enctype="multipart/form-data" class="form-group mt-5 mb-5 col-lg-6">
        <input type="hidden" value="<%= article.id %>" name="id">
        <label for="">Titre</label>
        <input type="text" name="titre" value="<%= article.titre  %> " class="form-control">
        <label for="" >resume</label>
        <input type="text" name="resume" value="<%= article.resume %> " class="form-control">
        <label for="">image</label>
        <input type="hidden" name="image" value="<%= article.image %> " class="form-control">
        <label for="">Contenu</label>
        <textarea name="contenu" value="<%= article.contenu %>" class="form-control" ></textarea>
        <label for="">Auteur</label>
        <input type="text" name="auteur" value="<%= article.auteur %>" class="form-control">
        <input type="hidden" name="created_at" value="<%= article.created_at %>" class="form-control">
        <button class="btn btn-primary mt-2 col-4" >Modifier</button>
      </form>
    </div>
</div>
<% include ../master/footer %> 